*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

h1{
    font-weight: bold;
    font-size: xx-large;
    display: block;
}

body{
    margin: 0;
    background-image: url('bgcalisma-1.jpg');
    background-size: cover;
    backdrop-filter: brightness(0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}



form{
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 20px;
    font-weight: bold;
}
form input{
    display: block;
    text-align: center;
    margin: 5px auto;
    background: rgb(169, 225, 230);
}

input-button{
    background-color: red;
}

.archivo{
    display: block;
    text-align: center;
    margin: 5px auto;
    background: #00bcd4(252, 227, 84);
}
form label{
    display: block;
    margin: 10px auto;
}

.oculto{
    display: none;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;    
    background: #00bcd4;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: 1s all;
    cursor:pointer;
    margin: 10px auto;
    color: black;
}

.enviar:hover{
    color:rgb(0, 0, 0);
    border: 2px solid #000000;
    background-color: rgba(0, 188, 212, 0.8);
    transform: scale(1.2);
}

.enviar:active{
    background-color: rgba(0, 188, 212, 0.5);
    transition: 0s;
    border: 2px solid #ffffff;
}

#divCargando{
    display: none;
}

#divCargando img {
    display: block;
    margin: 0 auto;
}

#graveError{
    display: none;
}
